#main_admin {
    width: 100%;
    height: 100%;
}

#console-head {
    margin-top: 25px;
    margin-left: 565px;
    font-size: 24px;
    color: tomato;
}

#main_admin h1 {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: tomato;
    font-family: Geneva;
}

#product-edit {
    margin-left: 500px;
    padding: 5px;
    width: 300px;
    margin-top: 10px;

}

#product-edit .add {
    margin-top: 3px;
    width: 300px;
    height: 100px;
    background-color: coral;
    z-index: 100000;
    cursor: pointer;
    text-align: center;
}
#product-edit .add .count-order{
    display: inline;
    margin-left: 5px;
}

#product-edit .add:hover {
    background-color: tomato;
}

.add a {
    color: #ffffff;
    font-size: 22px;
}

#order-edit {
    margin-left: 40%;
    padding: 5px;
    width: 300px;
    margin-top: 20px;
    background-color: #DEE5EB;
}

#add-form {
    padding: 10px;
    margin-top: 10px;
    margin-left: 350px;
    text-align: center;
    width: 700px;
    font-size: 20px;
    background-color: #DEE5EB;
    border: 1px solid #4c6e98;
    border-radius: 4px;
}
.errorForm{
    color: red;
    margin-left: 20px;
}
#add-form label {
    color: #45688E;
}

#add-form input {
    /*margin-left: 50px;*/

    width: 250px;
    border-radius: 4px;
}

#add-form #photo {
    margin-left: 16px;
}

#add-form textarea {
    width: 250px;
    margin-left: 16px;
    border-radius: 4px;
}

#add-form button {
    margin-left: 16px;
    width: 250px;
    height: 40px;
    background-color: #45688E;
    border-radius: 4px;
}

#add-form button span {
    color: #f3f6fa;
}

#add-form span {
    color: red;
}

#add-form select {
    width: 250px;
    margin-left: 16px;
    height: 25px;
    color: #45688E;
    border-radius: 4px;
}

#back {
    margin-left: 40px;
    margin-top: 30px;
    width: 400px;
    font-size: 18px;
    /*display: inline;*/
}

#back span {
    margin-left: 15px;
    color: red;
}

#return {
    color: #45688E;
    margin-left: 950px;
    margin-top: 10px;
    font-size: 18px;
}

h2 {
    color: #45688E;
    margin-left: 20%;
}