/*list product*/
#rest-holder {
    position: relative;
    width: 100%;
    padding: 30px 0px 0px 0px;
    background: #ffffff;
}
body{

}
/*list product*/
#header_block {
    position: relative;
    padding-left: 45px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: #4c6e98;
}
/*-------------------------------------------------------------------*/
#choice-category{
    position: relative;
    padding-left: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: #4c6e98;
    border-style: none;
}

.drop-down{
    display: inline-block;

    list-style: none;
    padding-left: 45px;

    text-align: center;
}

.drop-down>li{
    display: none; //скрыть все li
    border: black 1px solid;
    background-color: yellow;
    margin-top: 1px;
}

.drop-down>li>a{
    text-decoration: none; //убрать стандартный вид ссылок
color: black;
    font-size: 25px;
    padding: 5px;
}

#first{
    display: block; //всегда отображать первую li
}

.drop-down:hover li{
    display: block; //при наведении отображать все li
}

.drop-down>li:hover{
    opacity: 0.5;
}
/*-------------------------------------------------------------------*/
#header_block_more {
    position: relative;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #33cccc;
}
/*list product*/
#name_product {
    display: block;
    top: 12px;
    left: 160px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    color: #4c6e98;
}

/*list product*/
#desc_product {
    display: block;
    padding-top: 40px;
    left: 160px;
    font-size: 20px;
    line-height: 18px;
    position: absolute;
    color: #000000;
}
/*list product*/
#weight_product {
    display: block;
    padding-top: 98px;
    left: 160px;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    color: #000000;
}

/*list product*/
#price_product {
    display: block;
    padding-top: 115px;
    left: 160px;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    color: #ff0033;
}

#rest-container .container .float-holder-960 #rest-holder .rest-block .rest-menu {
    top: 70px;
    right: 18px;
    position: absolute;
    background-position: 125px 0;
    background-position-x: 125px;
    background-position-y: 0px;
}
a.btn {
    text-decoration: none;
}

.btn-foodda-green-middle-menu {
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #99bf38;
    padding: 8px 20px;
    font-size: 18px;
    background-image: -moz-linear-gradient(top, #99bf38, #5aa500);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99bf38), to(#5aa500));
    background-image: -webkit-linear-gradient(top, #99bf38, #5aa500);
    background-image: -o-linear-gradient(top, #99bf38, #5aa500);
    background-image: linear-gradient(to bottom, #99bf38, #5aa500);
    background-repeat: repeat-x;
    border-color: #5aa500 #5aa500 #99bf38;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99bf38', endColorstr='#ff5ba501', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 0px #3c3c3c;
    -moz-box-shadow: 0px 1px 0px #3c3c3c;
    box-shadow: 0px 1px 0px #3c3c3c;
}

#btn-foodda-green-middle-menu {
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #99bf38;

    padding: 200px 125px;
    font-size: 18px;
    background-image: -moz-linear-gradient(top, #99bf38, #5aa500);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99bf38), to(#5aa500));
    background-image: -webkit-linear-gradient(top, #99bf38, #5aa500);
    background-image: -o-linear-gradient(top, #99bf38, #5aa500);
    background-image: linear-gradient(to bottom, #99bf38, #5aa500);
    background-repeat: repeat-x;
    border-color: #5aa500 #5aa500 #99bf38;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99bf38', endColorstr='#ff5ba501', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 0px #3c3c3c;
    -moz-box-shadow: 0px 1px 0px #3c3c3c;
    box-shadow: 0px 1px 0px #3c3c3c;
}

#checkout {
    width: 270px;
    margin: 50px auto;
    padding: 15px;
    background: #f3f6fa;
    border: 1px solid;
    border-color: #c2cadb #bbc5d6 #b7c0cd;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
/*list product*/
#list_block {
    position: relative;
    padding-left: 65px;
}
/*list product*/
#rest-block {
    cursor: pointer;
    width: 710px;
    height: 152px;
    position: relative;
    margin-bottom: 17px;
    border: 1px solid #4c6e98;
    padding-bottom: 17px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    list-style: none;
}

#main_content{
    float:left;
    width: 800px;
}
#product_box {
    float: left;
    width: 212px;
    background: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 8px 7px;
    margin-bottom: 10px;
}
/*list product*/
#rest-logo {
    display: block;
    top: 15px;
    left: 15px;
    width: 130px;
    height: 130px;
    position: absolute;
    border: 1px solid #c4d799;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;

}

#list_content {
    width: 950px;
    margin: 0 auto;
    padding: 30px 15px;
    background: #666666;
}
