/* 
    Document   : vijays_shop
    Created on : Mar 7, 2013, 2:51:07 AM
    Author     : vj
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    text-align:center;
}
#login_in{
    position: absolute;
    top: 10px;
    left: 600px;
}
#date{
    position: absolute;
    top: 10px;
    left: 400px;
    float: right;
}
#invalid_login{
    position: absolute;
    top: 10px;
    left:400px;
    float:right;
}
#user_info{
    position:absolute;
    top:10px;
    left:650px;

}
#wrong_user{
    position:absolute;
    top:10px;
    left:400px;
    float:right;
}
.logmeout{
    position:absolute;
    top:10px;
    left:1000px;
    float:right;
    text-align: right;
}

#big_wrapper{
    text-align:right;
    border: 1px #d11401 solid;
    margin: 0px auto;
}

#top_header{

    font-size: 40px;
    font-style: normal;
    background-color: #d11401;
    color: white;
    padding:70px;
    text-align: left;
    font-family: cursive;
}

#links{
    border: 2px bisque solid;
    font-style: italic;
    background-color: darkgoldenrod;
    color: white;
    padding: 10px;
}
#links li{
    list-style: none;
    font-size: 14px;
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
}
li a.hover{
    background-color: aqua;
    color : white;
    list-style: none;
}
#main_content{
    float:left;
    width: 800px;
}
#logo{
    position: absolute;
    left: 0px;
    top: 0px;

}
#lg{
    padding:30px;
    margin:210px;

}

#main_article{
    padding:30px;
    margin:30px;
    border: 1px #d11401 double;
}
#inner_article{
    margin-top:20px;
    padding:4px;
    border: 2px coral solid;
}
#inner_artcile_heading{
    font-weight: bold;
}
#inner_artcile_dealer{
    font-style: italic;
}
#quantity{
    float: right;
}
#add_to_cart{
    position: absolute;
    margin:1px;
    float: right;
    top:240px;
    left:700px;
}
#total_cart_items{
    position: absolute;
    margin:1px;
    float: right;
    top:240px;
    left:400px;
}
#finish_n_checkout{
    position: absolute;
    margin:1px;
    float: right;
    top:210px;
    left: 700px;

}

#table_data_dont_update_this{
    width:100px;
}
#updates{
    float: left;
    border: 1px #d11401 solid;
    padding: 30px;
    width: 200px;
    margin: 30px;
}
#the_footer{
    clear:both;
    color: white;
    text-align:center;
    padding: 20px;

    border-top: 1px  solid;
    background-color: #d11401;
}
