#main_title {
    margin-top: 25px;
    margin-left: 300px;

}

#main_title span {
    font-size: 20px;
    color: #4c6e98;
}


#main_form label {
    margin-left: 100px;
    margin-top: 10px;
    display: block;
    font-size: 16px;
    color: #d11401;
}
#main_form #sms{
    margin-right: 20px;
    display: block;
    font-size: 16px;
    color: #d11401;
}
.error{
    margin-left: 20px;
    color: #ff0000;
    width: 200px;
}
.pay-comm{
    margin-top: 10px;
    list-style: none;
    margin-left: 30px;
    font-size: 16px;
}
.pay-comm span{
    color: #d11401;
    font-size: 16px;
}
.pay-comm select{
    width: 200px;
    height: 30px;
    font-size: 18px;
    color: #888;
    border-radius: 3px;
    border: 1px solid #4c6e98;
    overflow: hidden;
}

#main_form input {
    margin-left: 100px;
    margin-top: 10px;
    display: block;
    width: 200px;
    height: 32px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #4c6e98;
}
#main_form textarea{
    margin-left: 100px;
    margin-top: 10px;
    display: block;
    width: 200px;
    height: 64px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #4c6e98;
}
/*div left form*/
#form_order {
    float: left;
}

/*div right form*/
#form_right {
    float: right;
}
/*main form style*/
#main_form {
    background: #D9E0E7;
    position: relative;
    display: block;
    margin-top: 15px;
    margin-left: 300px;
    margin-bottom: 50px;
    width: 700px;
    height: 450px;
    border: 1px solid #4c6e98;
    border-radius: 6px;
}


#main_form .buttOrder {
    font-size: 16px;
    border-radius: 4px;
    background-color: #4c6e98;
    color: #ffffff;
}

#buttOrder .textButt {
    color: #ffffff;
}

#order-comment {
    margin-top: 20px;
    width: 290px;
    height: 70px;
    resize: vertical;
    margin-left: 100px;
    border: 1px solid #4c6e98;
}