#div-order {
    margin-top: 5px;
    height: 100%;
}
#table-order{
    width: 800px;
    font-size: 22px;
    margin: auto;
    border: 1px solid #4c6e98;
}
#table-order tr{
    border: 1px solid #4c6e98;
}
#table-order td{
    border: 1px solid #4c6e98;
    color: #4c6e98;
}
#table-order td select{
    color: #4c6e98;
}

/*#table-order .table-order {*/
    /*margin: auto;*/
    /*font-size: 18;*/
    /*border: 1;*/
/*}*/

#btn_more {
    border-style: none;
    background-color: #ffffff;
}

#btn_delete {
    border-style: none;
    background-color: #ffffff;
}

.btn_text {
    color: #4c6e98;
    font-size: 18px;
}

#basic-modal-content {
    display: none;
}

#info {
    position: fixed;
    background-color: #ffffff;
    display: none;
    top: 200px;
    left: 300px;
    /*margin-top: 10px;*/
    /*margin-left: 300px;*/
    width: 700px;
    border: 1px solid #4c6e98;
    border-radius: 6px;
    z-index: 1000;
}

/*.box{*/
/*width: 500px;*/
/*height: 250px;*/
/*overflow: scroll;*/
/*display: inline-block;*/
/*}*/
#info p {
    color: #000000;
}

#info span {
    color: red;
}

.client {
    display: inline-block;
    padding-left: 5px;
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
    width: 290px;
}

#list-products {
    display: inline-block;
    width: 240px;
}
#tbl-info-main{
    margin-left: 0;
    margin-top: 0;
    width: 700px;
    margin: 0;
}
#tbl-info-main tr{
    margin-left: 0;
    margin-top: 0;
    width: 300px;
    color: #4c6e98;
    border: 1px solid #4c6e98;
}
#tbl-info-main td{
    border: 1px solid #4c6e98;
}
#tbl-info-main a{
    margin-left: 200px;
    color: red;
}
#table-info {
    /*margin-left: 5px;*/
    font-size: 14px;
}

#table-info .name-pr {
    width: 250px;
    text-align: left;
    color: green;
}
#table-info .price-pr {
    width: 100px;
    text-align: left;
    color: #ff0000;
}

#table-info .weight-pr {
    width: 50px;
    text-align: left;
    color: #4c6e98;
}

#table-info .count-pr {
    width: 40px;
    text-align: left;
    color: red;
}

.hide-layout {
    display: none;
    background: #000; /* фон */
    bottom: 0; /* координата снизу */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
    height: 100%; /* высота на всю страницу */
    opacity: 0.5; /* прозрачность слоя */
    position: fixed; /* фиксируем элемент на странице*/
    top: 0; /* координата сверху */
    width: 100%; /* ширина на всю страницу */
    z-index: 990; /* z-index для перекрытия остальных элементов */
}

#btn-close {
    position: relative;
    margin-left: 660px;
    margin-bottom: 5px;
    border-style: none;
    width: 32px;
    height: 32px;
    background: url(/resources/images/main/button.png) no-repeat;
}

#btn-notAccepts {
    border-style: none;
    margin-left: 445px;
    height: 25px;
}

#div-ref {
    margin-left: 445px;
    height: 25px;
    width: 500px;
    color: #4c6e98;
    margin-top: 20px;
    /*display: inline;*/
}

#div-ref a {
    margin-left: 25px;
    font-size: 16px;
}

#head {
    margin-top: 15px;
    margin-left: 445px;
    width: 450px;
    height: 40px;
    text-align: center;
}

#head h2 {
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    color: #4c6e98;
}

#ref-notAccepts {
    margin-left: 10px;
    height: 25px;
    color: #4c6e98;
    display: inline;
}

#ref-accepts {
    margin-left: 10px;
    height: 25px;
    color: #4c6e98;
    display: inline;
}

#ref-delivered {
    margin-left: 10px;
    height: 25px;
    color: #4c6e98;
    display: inline;
}