#error-find {
    /*width: 100%;*/
    height: 100%;
    margin-left: 300px;
    display: block;
    background: no-repeat;
}
#error-find h1{
    margin-top: 25px;
    margin-left: 25px;
    color: #ff0033;
}
/*cart*/
#sidebar {
    float: right;
    margin-top: 35px;
    margin-left: 950px;
    width: 300px;
    position: fixed;
    border: 1px solid #4c6e98;
    border-radius: 6px;
    z-index: 100000;
}

/*cart*/
.boxed {
    margin: 0 0 20px 0;
}

/*cart*/
.boxed .title {
    /*width: 0px;*/
    height: 35px;
    margin: 0;
    padding: 10px 0 0 10px;
    background-color: #4c6e98;
    /*background: url(/resources/images/img03.jpg) no-repeat;*/
    font-size: 22px;
    color: #ffffff;
}

/*cart*/
#icon_cart {
    float: right;
    width: 35px;
    height: 35px;
    background: url(/resources/images/main/cart-icon.png) no-repeat;
}

.boxed .content {
    padding: 5px;
    /*border-top: none;*/
}

.li-item {
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    width: 300px;
}

#part .nametd {
    width: 160px;
    text-align: left;
    color: #4c6e98;
}

#part .tdprice {
    width: 80px;
    text-align: left;
    color: #ff0033;
}

.tdcount {
    width: 40px;
    text-align: left;
    color: #4c6e98;
}

#part {
    border-bottom: 1px solid #4c6e98;
}

.s_name {
    float: left;
    width: 240;
    height: 45;
}

#total {
    color: #ff0033;
    font-size: 14px;
}

#summ {
    margin-left: 5px;
    font-size: 14px;
}

.close {
    /*width: 16px;*/
    /*height: 16px;*/
    /*background: url(/resources/images/close.png) no-repeat;*/
}

.buttClose {
    width: 16px;
    height: 16px;
    border: none;
    background: url(/resources/images/delete.png) no-repeat 0;
}
.buttOrder {
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 5px;
    border-radius: 6px;
    background-color: #4c6e98;
}
.buttOrder span {
    color: #ffffff;
    font-size: 16px;
}

.list-product{
    width: 70%;
}
