
body {
    margin: 0;
    padding: 0;
    line-height: 1.7em;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    background: #ffffff;
}

a:link, a:visited {
    color: #0066CC;
    text-decoration: none;
}

a:active, a:hover {
    color: #990000;
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}

img {
    margin: 0px;
    padding: 0px;
    border: none;
}

/*hello category*/
.cleaner {
    clear: both;
    width: 100%;
    height: 0px;
    font-size: 0px;
}

.cleaner_h10 {
    clear: both;
    width: 100%;
    height: 10px;
}

/*hello*/
.cleaner_h20 {
    clear: both;
    width: 100%;
    height: 20px;
}

.cleaner_h30 {
    clear: both;
    width: 100%;
    height: 30px;
}

.cleaner_h40 {
    clear: both;
    width: 100%;
    height: 40px;
}

.cleaner_h50 {
    clear: both;
    width: 100%;
    height: 50px;
}

.cleaner_h60 {
    clear: both;
    width: 100%;
    height: 60px;
}

/*кнопка вверх*/
.button_01 a {
    display: block;
    width: 80px;
    height: 24px;
    padding: 4px 0 0 28px;
    color: #686b53;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    background: url(/resources/images/main/templatemo_button_01.png) no-repeat;
}

/*кнопка вверх ,курсор над кнопкой*/
.button_01 a:hover {
    background: url(/resources/images/main/templatemo_button_01_hover.png) no-repeat;
}

h1 {
    margin: 0px;
    padding: 2px 0;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    margin: 0 0 20px 0;
    padding: 10px 0;
    font-size: 30px;
    font-weight: bold;
    color: #686b53;
}

h3 {
    margin: 0 0 10px 0;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #9f1a04;
}

.image_wrapper {
    margin-top: 3px;
    margin-bottom: 5px;
    border: 5px solid #e8e8e8;
    padding: 1px;
    background: #fff;
}

.fl_image {
    float: left;
    margin-right: 30px
}

.fr_image {
    float: right;
    margin-left: 20px
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*отступ между категориями*/
.margin_r_10 {
    margin-right: 10px;
}

.margin_r_20 {
    margin-right: 20px;
}

.margin_r_80 {
    margin-right: 80px;
}

/* основной div шапки сайта ---------------------------------------------------------------------------------*/
#hello_site_title_bar_wrapper {
    width: 100%;
    height: 130px;
    margin: 0 auto;
    background: #ffffff url("/resources/images/main/templatemo_banner_bg_wrapper.jpg") no-repeat center top;
}

/* шапка*/
#hello_site_title_bar {
    /*float: left;*/
    width: 100%;
    height: 130px;
    margin: 0 auto;
}

/* слогон */
#hello_site_title_bar #site_title {
    float: left;
    padding: 30px 0 0 100px;
    text-align: center;
}

#phones {
}

#phones span {
    color: #ffffff;
    margin-left: 50px;
    font-size: 14px;
}

#site_title h1 a {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#site_title h1 a:hover {
    font-weight: bold;
    text-decoration: none;
}

#site_title h1 a span {
    display: block;
    margin-left: 3px;
    font-size: 14px;
    color: #edf3f2;
    font-weight: bold;
    letter-spacing: 4px;
}

#hello_site_title_bar #site_search {
    float: right;
    width: 150px;
    height: 53px;
}

/* основной div шапки сайта ---------------------------------------------------------------------------------*/

/* меню шапки -----------------------------------------------*/
#hello_site_title_bar #templatemo_menu {
    float: right;
    width: 700px;
    height: 60px;
    padding: 40px 0 0 0;
    margin: 0 auto;

}

#templatemo_menu ul {
    margin: 0px;
    padding: 15px 0 0 0px;
    list-style: none;
}

#templatemo_menu ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#templatemo_menu ul li a {
    float: left;
    display: block;
    height: 22px;
    padding: 4px 10px 0 5px;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    outline: none;
}

#templatemo_menu ul li input {
    float: left;
    display: block;
    width: 200px;
    height: 32px;
    padding: 3px 10px 0 5px;
    margin-left: 35px;
    font-size: 16px;
    border-style: none;
    /*border-radius: 6px;*/
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#templatemo_menu ul li .form_find {
    margin-top: -15px;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
    position: relative;
    color: #ffffff;
    background: url(/resources/images/main/templatemo_menu_hover_right.png) right top no-repeat;
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span {
    position: absolute;
    top: 0;
    left: -5px;
    height: 25px;
    width: 5px;
    background: url(/resources/images/main/templatemo_menu_hover_left.png) no-repeat;
}

/* меню шапки -----------------------------------------------*/

/* кнопка на шапке для поиска по сайту */
#btn_search {
    width: 40px;
    height: 32px;
    float: left;
    border-style: none;
    margin-left: -1px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

/*изображение на кнопке*/
.icon_search {
    background: url(/resources/images/main/search.png) right top no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}

#templatemo_banner p {
    font-size: 28px;
    color: #000000;
    line-height: 34px;
}

#templatemo_banner p span {
    color: #ffffff;
    font-style: italic;
}

/* end of banner */

/* menu */
#top_icon {
    height: 48px;
    width: 100%;
    background-color: #ffffff;
    /*clear: both;*/
    margin: 0 auto;
}

#top_icon ul {
    height: 48px;
    width: 100%;
    margin: 0 auto;
    /*margin-left: 170px;*/
}

#top_icon ul li {
    float: left;
    list-style: none;
    height: 48px;
    /*margin-right: 20px;*/
    width: 180px;
}

#top_icon ul li img {
    float: left;
}

#top_icon ul li span {
    font-family: Calibri, Tahoma, sans-serif;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 0px 0px 8px;
    line-height: 15px;
    float: left;
}

#templatemo_follow_me_wrapper {
    width: 100%;
    margin: 0 auto;
    background: rgb(244, 244, 244);
}

#templatemo_follow_me {
    width: 990px;
    margin: 0 auto;
    padding: 10px 0;
    background: rgb(244, 244, 244);
}

#templatemo_follow_me span {
    display: inline-block;
    padding-top: 30px;
    color: #006695;
    font-size: 26px;
    font-weight: bold;
    margin-right: 20px;
}

#templatemo_follow_me .social_network {
    list-style: none;
}

#templatemo_follow_me .social_network li {
    margin-left: 0px;
    padding-right: 0px;
}

#templatemo_follow_me .social_network li a {
    float: left;
    margin-right: 180px;
    display: block;
    width: 50px;
    height: 48px;
}

#templatemo_follow_me .social_network li a b {
    padding-left: 40px;
    font-size: 15px;
    margin-left: 40px;
}

#templatemo_follow_me .social_network li .facebook {
    background: url(/resources/images/main/clearing.png) no-repeat;
}

#templatemo_follow_me .social_network li .twitter {
    background: url(/resources/images/main/24-7.png) no-repeat;
    font-family: Calibri, Tahoma, sans-serif;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 0px 0px 8px;
    line-height: 15px;
    float: left;
}

#templatemo_follow_me .social_network li .linkin {
    background: url(/resources/images/main/vehicle.png) no-repeat;
}

#templatemo_follow_me .social_network li .flickr {
    background: url(/resources/images/main/present.png) no-repeat;
}

/* end of menu */

/* Содержимое главной страницы*/
#hello_content {
    width: 950px;
    margin: 0 auto;
    padding: 30px 15px;
    background: #ffffff;
}

/* Надпись Категории*/
#hello_content h2 .content_like {
    cursor: text;
    color: #4c6e98;
}


/*list product button*/
#btn_cart {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background: #4c6e98;
    margin-left: 500;
    margin-top: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*list product button*/
#btn_txt {
    color: #ffffff;
    font-size: 16px;
}

/*Категории продуктов*/
.product_box {
    float: left;
    width: 212px;
    background: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 8px 7px;
    margin-bottom: 10px;
}

/*событие на курсор */
.product_box:hover {
    background: #e7ebce;
    border: 1px solid #6699ff;
}

/*ссылка */
.product_box a {
    text-decoration: none;
}

/*курсор над ссылкой */
.product_box a:hover {
    text-decoration: none;
}

/*изображение категории*/
.product_box a img {
    border: 1px solid #ffffff;
}

/*название категории продукта*/
.product_box h3 {
    padding: 0;
    margin: 0 0 10px 0;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    color: #85896f;
    border: 1px solid #fff;
    text-align: center;
    background: url(/resources/images/main/templatemo_product_box_title_bg.jpg) repeat-x;
}

/*событие на курсор */
.product_box:hover h3 {
    color: #006695;
}

.product_detail_left {
    float: left;
}

.product_detail_left .product_img_wrapper {
    border: 10px solid #f1f1f1;
    padding: 1px;
    background: #ffffff;
}

.product_detail_right {
    float: right;
    width: 300px;
}

.product_detail_right h3 {
    font-size: 16px;
    color: #333333;
}

.service_applied {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.service_applied li {
    margin: 0px;
    padding: 3px 0 3px 20px;
    color: #006695;
    background: url(/resources/images/main/templatemo_list_icon.jpg) left center no-repeat;
}

/* end of menu */

/* content bottom hello*/
#templatemo_footer_wrapper {
    width: 100%;
    margin: 0 auto;
    background: #666956 url(/resources/images/main/templatemo_footer_bg.jpg) repeat-x top;
}

/* content bottom hello*/
#templatemo_footer {
    width: 960px;
    margin: 0 auto;
    padding: 30px 10px;
    color: #d4d5cd;
    background: none;
}

/* content bottom hello*/
#templatemo_footer .section_w220 {
    float: left;
    width: 200px;
    padding-right: 20px;
}

#templatemo_footer .section_w220 h4 {
    color: #ffffff;
    margin: 0 0 10px 0;
    padding: 3px 0;
}

/* content bottom hello p */
#templatemo_footer p {
    margin-bottom: 10px;
}

/* content bottom hello menu*/
.footer_list_menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* content bottom hello li*/
.footer_list_menu li {
    margin: 0px;
    padding: 3px 0;
}

/* content bottom hello li a*/
.footer_list_menu li a {
    color: #d4d5cd;
    font-weight: normal;
}

/* content bottom hello*/
.footer_list_menu li a:hover {
    color: #ffffff;
    font-weight: normal;
}

#top_line {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    background: rgb(244, 244, 244);
}

#social {
    width: 990px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: right;
}

#das {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
